.toggle-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
  margin-bottom: 16px;
}

.toggle-cos-btn {
  border: 2px solid black;
  border-radius: 16px;
  background: #f5f6f7;
  color: red;
  font-weight: bold;
  font-size: 2rem;
  padding: 12px 32px;
  cursor: pointer;
  outline: none;
  transition: background 0.2s, border 0.2s;
  width: 120px;
  text-align: center;
}

.toggle-sin-btn {
    border: 2px solid black;
    border-radius: 16px;
    background: #f5f6f7;
    color: blue;
    font-weight: bold;
    font-size: 2rem;
    padding: 12px 32px;
    cursor: pointer;
    outline: none;
    transition: background 0.2s, border 0.2s;
    width: 120px;
    text-align: center;
  }

.toggle-cos-btn.selected {
  background: #fbe0e0;
  border: 3px solid red;
}

.toggle-sin-btn.selected {
  background: #e0e8fb;
  border: 3px solid blue;
}